/* Styles for the form container */
.contactPage {
    display: flex;
    justify-content: center;
    align-items: center;
     /* Background color of the entire page */
    overflow: hidden; /* Prevents content from overflowing the viewport */
  }
  /* Styles for the form box */
form{
    width: 400px;
    /* width: fit-content; */
    padding: 20px;
    border: 1px solid #EFF0F6;
    background-color: #f0f0f0; /* Background color of the form box */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form horizontally */
  }
  .innerform{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for labels associated with input fields */
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; /* Add spacing between label and input */
  }
  
  /* Styles for input fields */
  input {
    width: 85%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 46px;
    font-size: 16px;
  }
  
  /* Styles for the submit button */
  button {
    margin-bottom: 12%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Styles for the submit button on hover */
  button:hover {
    background-color: #0056b3;
  }
.field{
   /* margin-top: 50px;*/
  }
